In [1]:
import tabula
import pandas as pd
import numpy as np

In [2]:
race_df = tabula.read_pdf("Perm-FT-Faculty-and-Post-Doc-Fellows-X-Race-X-Tenure-Status-Fall-2010-2020_20210406.pdf", pages='all')

In [3]:
# tables are read in in a list => each table is read into a different table element => here we have to adjust for this fact
# by concatenating them
race_df = pd.concat([race_df[0], race_df[1]], axis=0, ignore_index=True)

In [4]:
# it's reading in the columns messily -> there's overlap :(
race_df

,Tenure,Unnamed: 0,Unnamed: 1,2010,Unnamed: 2,Unnamed: 3,2011,Unnamed: 4,Unnamed: 5,2012,...,2017,Unnamed: 16,Unnamed: 17,2018,Unnamed: 18,Unnamed: 19,2019,Unnamed: 20,Unnamed: 21,2020
0,Status Race/Ethnicity,NaN,#,%,NaN,#,%,NaN,#,%,...,%,NaN,#,%,NaN,#,%,NaN,#,%
1,Tenured,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Indian or Alaskan Native,NaN,NaN,3 0.2%,NaN,NaN,2 0.1%,NaN,NaN,5 0.4%,...,5 0.3%,NaN,NaN,7 0.5%,NaN,NaN,7 0.5%,NaN,NaN,7 0.5%
3,Asian,NaN,100,7.2%,NaN,103,7.5%,NaN,106,7.7%,...,10.1%,NaN,157,10.9%,NaN,151,10.6%,NaN,148,10.4%
4,Black or African-American,NaN,NaN,55 3.9%,NaN,NaN,56 4.1%,NaN,NaN,55 4.0%,...,69 4.8%,NaN,NaN,67 4.7%,NaN,NaN,67 4.7%,NaN,NaN,69 4.8%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Native Hawaiian or Pacific Islander,NaN,NaN,2 0.2%,NaN,NaN,5 0.6%,NaN,NaN,6 0.7%,...,1 0.1%,NaN,NaN,. .,NaN,NaN,. .,NaN,NaN,1 0.1%
58,White,NaN,475,55.0%,NaN,436,52.2%,NaN,437,54.2%,...,34.5%,NaN,252,33.1%,NaN,233,29.7%,NaN,239,31.0%
59,Two or more races,NaN,NaN,. .,NaN,NaN,2 0.2%,NaN,NaN,5 0.6%,...,9 1.1%,NaN,NaN,15 2.0%,NaN,NaN,17 2.2%,NaN,NaN,23 3.0%
60,Race/Ethnicity Unknown,NaN,NaN,5 0.6%,NaN,NaN,5 0.6%,NaN,NaN,1 0.1%,...,33.7%,NaN,240,31.5%,NaN,241,30.7%,NaN,234,30.4%
61,Grand Total,NaN,864,100.0%,NaN,835,100.0%,NaN,807,100.0%,...,100.0%,NaN,762,100.0%,NaN,785,100.0%,NaN,771,100.0%

In [5]:
# trying to programatically pull the fully nan cols
# shows whether or not they are all fully nan
nan_cols = list(race_df.columns[race_df.isna().all()])

In [6]:
# dropping the nan_cols
race_df.drop(nan_cols, inplace=True, axis=1)

In [7]:
race_df.columns

Index(['Tenure', 'Unnamed: 1', '2010', 'Unnamed: 3', '2011', 'Unnamed: 5',
       '2012', 'Unnamed: 7', '2013', 'Unnamed: 9', '2014', 'Unnamed: 11',
       '2015', 'Unnamed: 13', '2016', 'Unnamed: 15', '2017', 'Unnamed: 17',
       '2018', 'Unnamed: 19', '2019', 'Unnamed: 21', '2020'],
      dtype='object')

In [8]:
race_df.head()

,Tenure,Unnamed: 1,2010,Unnamed: 3,2011,Unnamed: 5,2012,Unnamed: 7,2013,Unnamed: 9,...,Unnamed: 13,2016,Unnamed: 15,2017,Unnamed: 17,2018,Unnamed: 19,2019,Unnamed: 21,2020
0,Status Race/Ethnicity,#,%,#,%,#,%,#,%,#,...,#,%,#,%,#,%,#,%,#,%
1,Tenured,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Indian or Alaskan Native,NaN,3 0.2%,NaN,2 0.1%,NaN,5 0.4%,NaN,5 0.4%,NaN,...,NaN,5 0.4%,NaN,5 0.3%,NaN,7 0.5%,NaN,7 0.5%,NaN,7 0.5%
3,Asian,100,7.2%,103,7.5%,106,7.7%,115,8.4%,116,...,135,9.5%,144,10.1%,157,10.9%,151,10.6%,148,10.4%
4,Black or African-American,NaN,55 3.9%,NaN,56 4.1%,NaN,55 4.0%,NaN,61 4.5%,NaN,...,NaN,65 4.6%,NaN,69 4.8%,NaN,67 4.7%,NaN,67 4.7%,NaN,69 4.8%

In [9]:
# making a list of the columns which still have nans
nan_list = list(race_df.columns[race_df.isna().any()])

In [10]:
# making a list of the tuples of vals we care about
nan_list = [(x, nan_list[idx+1]) for idx, x in enumerate(nan_list) if "Unnamed" in x]

In [11]:
# cycling through the nan list and changing vals and dropping cols
for val in nan_list:
    # changing the vals for the unnanamed col
    race_df.loc[race_df[val[0]].isna(), val[0]] = race_df[val[1]].str.split().str[0]
    
    # dropping the year col
    race_df.drop(val[1], inplace=True, axis=1)
    
    # renaming the unamed col
    race_df.rename(columns={val[0]:val[1]}, inplace=True)

In [12]:
# changing the max rows displayed so that we can see the entire df
pd.options.display.max_rows = 100

In [13]:
# shows that it's not mostly fixified cols
race_df

,Tenure,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Status Race/Ethnicity,#,#,#,#,#,#,#,#,#,#,#
1,Tenured,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Indian or Alaskan Native,3,2,5,5,4,5,5,5,7,7,7
3,Asian,100,103,106,115,116,131,135,144,157,151,148
4,Black or African-American,55,56,55,61,60,66,65,69,67,67,69
5,Hispanic of any race,27,29,32,39,44,48,48,47,52,55,60
6,Native Hawaiian or Pacific Islander,-,-,-,-,-,-,-,-,-,-,-
7,White,"1,207","1,188","1,178","1,147","1,132","1,179","1,160","1,158","1,141","1,102","1,127"
8,Two or more races,4,3,4,3,3,6,7,8,8,8,7
9,Race/Ethnicity Unknown,-,-,-,-,-,-,-,1,2,30,9
10,Subtotal,"1,396","1,381","1,380","1,370","1,359","1,435","1,420","1,432","1,434","1,420","1,427"
11,Tenure Track,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,American Indian or Alaskan Native,3,4,3,4,5,3,4,4,4,4,2
13,Asian,70,80,84,76,78,75,79,67,65,63,71
14,Black or African-American,36,32,39,42,39,40,38,31,34,32,36
15,Hispanic of any race,30,26,27,26,31,29,31,30,33,35,38
16,Native Hawaiian or Pacific Islander,-,-,-,-,1,-,-,-,1,1,1
17,White,296,306,303,312,316,322,312,297,268,258,245
18,Two or more races,1,1,1,1,1,4,3,5,6,7,9
19,Race/Ethnicity Unknown,-,-,-,-,-,-,3,5,10,27,28
20,Subtotal,436,449,457,461,471,473,470,439,421,427,430
21,Tenured and Tenure Track,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,American Indian or Alaskan Native,6,6,8,9,9,8,9,9,11,11,9
23,Asian,170,183,190,191,194,206,214,211,222,214,219
24,Black or African-American,91,88,94,103,99,106,103,100,101,99,105
25,Hispanic of any race,57,55,59,65,75,77,79,77,85,90,98
26,Native Hawaiian or Pacific Islander,-,-,-,-,1,-,-,-,1,1,1
27,White,"1,503","1,494","1,481","1,459","1,448","1,501","1,472","1,455","1,409","1,360","1,372"
28,Two or more races,5,4,5,4,4,10,10,13,14,15,16
29,Race/Ethnicity Unknown,-,-,-,-,-,-,3,6,12,57,37
30,Subtotal,"1,832","1,830","1,837","1,831","1,830","1,908","1,890","1,871","1,855","1,847","1,857"
31,Fixed Term,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,American Indian or Alaskan Native,3,2,1,4,4,6,7,9,9,8,7
33,Asian,158,165,165,172,185,210,217,218,231,224,241
34,Black or African-American,64,71,71,75,80,92,97,93,100,114,121
35,Hispanic of any race,48,47,52,63,67,89,91,92,96,106,103
36,Native Hawaiian or Pacific Islander,-,1,2,3,3,2,2,2,3,2,2
37,White,"1,187","1,230","1,219","1,296","1,285","1,440","1,530","1,572","1,615","1,590","1,625"
38,Two or more races,4,8,8,8,6,7,6,9,16,22,26
39,Race/Ethnicity Unknown,3,-,-,-,-,5,10,21,27,128,103
40,Subtotal,"1,467","1,524","1,518","1,621","1,630","1,851","1,960","2,016","2,097","2,194","2,228"
41,Status Race/Ethnicity,#,#,#,#,#,#,#,#,#,#,#
42,All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,American Indian or Alaskan Native,9,8,9,13,13,14,16,18,20,19,16
44,Asian,328,348,355,363,379,416,431,429,453,438,460
45,Black or African-American,155,159,165,178,179,198,200,193,201,213,226
46,Hispanic of any race,105,102,111,128,142,166,170,169,181,196,201
47,Native Hawaiian or Pacific Islander,-,1,2,3,4,2,2,2,4,3,3
48,White,"2,690","2,724","2,700","2,755","2,733","2,941","3,002","3,027","3,024","2,950","2,997"
49,Two or more races,9,12,13,12,10,17,16,22,30,37,42
50,Race/Ethnicity Unknown,3,-,-,-,-,5,13,27,39,185,140
51,Grand Total,"3,299","3,354","3,355","3,452","3,460","3,759","3,850","3,887","3,952","4,041","4,085"
52,Post-Doctoral Fellows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,American Indian or Alaskan Native,1,4,5,3,2,3,4,3,1,1,1
54,Asian,314,296,275,275,251,203,216,190,190,216,201
55,Black or African-American,32,44,43,46,47,31,39,30,27,33,35
56,Hispanic of any race,35,43,35,34,39,29,26,25,37,44,37
57,Native Hawaiian or Pacific Islander,2,5,6,1,2,.,1,1,.,.,1
58,White,475,436,437,433,439,345,299,280,252,233,239
59,Two or more races,.,2,5,4,4,7,9,9,15,17,23
60,Race/Ethnicity Unknown,5,5,1,1,2,211,255,274,240,241,234
61,Grand Total,864,835,807,797,786,829,849,812,762,785,771

In [14]:
# making a dict of tuples where the first val is the start index and the second is the stop index for each category
tenure_status = {"Tenured":(1, 9), # starts at 1, ends at 9
                "Tenure-track":(11,19), # starts at 12 ends at 19
                "Tenured & Tenure-track":(21,29), # starts at 21, ends at 29
                "Fixed Term":(32, 39), # starts at 32, ends at 39
                "All":(42,50), # starts at 43 ends at 49
                "Post-doc":(52,60) # starts at 53, ends at 60
                }

In [15]:
# https://stackoverflow.com/questions/49162195/insert-value-based-on-row-index-number-in-a-pandas-dataframe
# setting up various conditions to search in np.select with
tenure_status = [(race_df.index > tenure_status["Tenured"][0]) & 
                 (race_df.index <= tenure_status["Tenured"][1]),
               (race_df.index > tenure_status["Tenure-track"][0]) & 
                 (race_df.index <= tenure_status["Tenure-track"][1]),
               (race_df.index > tenure_status["Tenured & Tenure-track"][0]) & 
                 (race_df.index <= tenure_status["Tenured & Tenure-track"][1]),
               (race_df.index > tenure_status["Fixed Term"][0]) & 
                 (race_df.index <= tenure_status["Fixed Term"][1]),
               (race_df.index > tenure_status["All"][0]) & 
                 (race_df.index <= tenure_status["All"][1]),
               (race_df.index > tenure_status["Post-doc"][0]) & 
                 (race_df.index <= tenure_status["Post-doc"][1])]           

# setting the indexes we'll use to label here
# choosing the rows which are NA
ten_indexes = race_df[race_df["2010"].isna()]["Tenure"]

# changing the values in Tenure to describe the groups
race_df["Tenure Status"] = np.select(tenure_status, ten_indexes)

In [16]:
# renaming tenure to race
race_df.rename(columns={"Tenure":"Race"},inplace=True)

In [17]:
# dropping the rows where tenure status = 0
race_df = race_df[race_df["Tenure Status"]!= "0"]

# resetting the index
race_df.reset_index(inplace=True, drop=True)

In [18]:
# setting tenure & race as indexes
# going ahead and setting tenure as an index
race_df = race_df.set_index([race_df["Tenure Status"],race_df["Race"]])

# dropping those cols now that they're an index
race_df = race_df.drop(["Tenure Status","Race"], axis=1)

In [19]:
# changing the "-" & "." to 0
race_df = race_df.replace(["-","."],0)

In [20]:
# checking that's all correct
race_df

                                                               2010   2011  \
Tenure Status            Race
Tenured                  American Indian or Alaskan Native        3      2
                         Asian                                  100    103
                         Black or African-American               55     56
                         Hispanic of any race                    27     29
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,207  1,188
                         Two or more races                        4      3
                         Race/Ethnicity Unknown                   0      0
Tenure Track             American Indian or Alaskan Native        3      4
                         Asian                                   70     80
                         Black or African-American               36     32
                         Hispanic of any race                    30     26
                         Native Hawaiian or Pacific Islander      0      0
                         White                                  296    306
                         Two or more races                        1      1
                         Race/Ethnicity Unknown                   0      0
Tenured and Tenure Track American Indian or Alaskan Native        6      6
                         Asian                                  170    183
                         Black or African-American               91     88
                         Hispanic of any race                    57     55
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,503  1,494
                         Two or more races                        5      4
                         Race/Ethnicity Unknown                   0      0
Fixed Term               Asian                                  158    165
                         Black or African-American               64     71
                         Hispanic of any race                    48     47
                         Native Hawaiian or Pacific Islander      0      1
                         White                                1,187  1,230
                         Two or more races                        4      8
                         Race/Ethnicity Unknown                   3      0
All                      American Indian or Alaskan Native        9      8
                         Asian                                  328    348
                         Black or African-American              155    159
                         Hispanic of any race                   105    102
                         Native Hawaiian or Pacific Islander      0      1
                         White                                2,690  2,724
                         Two or more races                        9     12
                         Race/Ethnicity Unknown                   3      0
Post-Doctoral Fellows    American Indian or Alaskan Native        1      4
                         Asian                                  314    296
                         Black or African-American               32     44
                         Hispanic of any race                    35     43
                         Native Hawaiian or Pacific Islander      2      5
                         White                                  475    436
                         Two or more races                        0      2
                         Race/Ethnicity Unknown                   5      5

                                                               2012   2013  \
Tenure Status            Race
Tenured                  American Indian or Alaskan Native        5      5
                         Asian                                  106    115
                         Black or African-American               55     61
                         Hispanic of any race                    32     39
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,178  1,147
                         Two or more races                        4      3
                         Race/Ethnicity Unknown                   0      0
Tenure Track             American Indian or Alaskan Native        3      4
                         Asian                                   84     76
                         Black or African-American               39     42
                         Hispanic of any race                    27     26
                         Native Hawaiian or Pacific Islander      0      0
                         White                                  303    312
                         Two or more races                        1      1
                         Race/Ethnicity Unknown                   0      0
Tenured and Tenure Track American Indian or Alaskan Native        8      9
                         Asian                                  190    191
                         Black or African-American               94    103
                         Hispanic of any race                    59     65
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,481  1,459
                         Two or more races                        5      4
                         Race/Ethnicity Unknown                   0      0
Fixed Term               Asian                                  165    172
                         Black or African-American               71     75
                         Hispanic of any race                    52     63
                         Native Hawaiian or Pacific Islander      2      3
                         White                                1,219  1,296
                         Two or more races                        8      8
                         Race/Ethnicity Unknown                   0      0
All                      American Indian or Alaskan Native        9     13
                         Asian                                  355    363
                         Black or African-American              165    178
                         Hispanic of any race                   111    128
                         Native Hawaiian or Pacific Islander      2      3
                         White                                2,700  2,755
                         Two or more races                       13     12
                         Race/Ethnicity Unknown                   0      0
Post-Doctoral Fellows    American Indian or Alaskan Native        5      3
                         Asian                                  275    275
                         Black or African-American               43     46
                         Hispanic of any race                    35     34
                         Native Hawaiian or Pacific Islander      6      1
                         White                                  437    433
                         Two or more races                        5      4
                         Race/Ethnicity Unknown                   1      1

                                                               2014   2015  \
Tenure Status            Race
Tenured                  American Indian or Alaskan Native        4      5
                         Asian                                  116    131
                         Black or African-American               60     66
                         Hispanic of any race                    44     48
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,132  1,179
                         Two or more races                        3      6
                         Race/Ethnicity Unknown                   0      0
Tenure Track             American Indian or Alaskan Native        5      3
                         Asian                                   78     75
                         Black or African-American               39     40
                         Hispanic of any race                    31     29
                         Native Hawaiian or Pacific Islander      1      0
                         White                                  316    322
                         Two or more races                        1      4
                         Race/Ethnicity Unknown                   0      0
Tenured and Tenure Track American Indian or Alaskan Native        9      8
                         Asian                                  194    206
                         Black or African-American               99    106
                         Hispanic of any race                    75     77
                         Native Hawaiian or Pacific Islander      1      0
                         White                                1,448  1,501
                         Two or more races                        4     10
                         Race/Ethnicity Unknown                   0      0
Fixed Term               Asian                                  185    210
                         Black or African-American               80     92
                         Hispanic of any race                    67     89
                         Native Hawaiian or Pacific Islander      3      2
                         White                                1,285  1,440
                         Two or more races                        6      7
                         Race/Ethnicity Unknown                   0      5
All                      American Indian or Alaskan Native       13     14
                         Asian                                  379    416
                         Black or African-American              179    198
                         Hispanic of any race                   142    166
                         Native Hawaiian or Pacific Islander      4      2
                         White                                2,733  2,941
                         Two or more races                       10     17
                         Race/Ethnicity Unknown                   0      5
Post-Doctoral Fellows    American Indian or Alaskan Native        2      3
                         Asian                                  251    203
                         Black or African-American               47     31
                         Hispanic of any race                    39     29
                         Native Hawaiian or Pacific Islander      2      0
                         White                                  439    345
                         Two or more races                        4      7
                         Race/Ethnicity Unknown                   2    211

                                                               2016   2017  \
Tenure Status            Race
Tenured                  American Indian or Alaskan Native        5      5
                         Asian                                  135    144
                         Black or African-American               65     69
                         Hispanic of any race                    48     47
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,160  1,158
                         Two or more races                        7      8
                         Race/Ethnicity Unknown                   0      1
Tenure Track             American Indian or Alaskan Native        4      4
                         Asian                                   79     67
                         Black or African-American               38     31
                         Hispanic of any race                    31     30
                         Native Hawaiian or Pacific Islander      0      0
                         White                                  312    297
                         Two or more races                        3      5
                         Race/Ethnicity Unknown                   3      5
Tenured and Tenure Track American Indian or Alaskan Native        9      9
                         Asian                                  214    211
                         Black or African-American              103    100
                         Hispanic of any race                    79     77
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,472  1,455
                         Two or more races                       10     13
                         Race/Ethnicity Unknown                   3      6
Fixed Term               Asian                                  217    218
                         Black or African-American               97     93
                         Hispanic of any race                    91     92
                         Native Hawaiian or Pacific Islander      2      2
                         White                                1,530  1,572
                         Two or more races                        6      9
                         Race/Ethnicity Unknown                  10     21
All                      American Indian or Alaskan Native       16     18
                         Asian                                  431    429
                         Black or African-American              200    193
                         Hispanic of any race                   170    169
                         Native Hawaiian or Pacific Islander      2      2
                         White                                3,002  3,027
                         Two or more races                       16     22
                         Race/Ethnicity Unknown                  13     27
Post-Doctoral Fellows    American Indian or Alaskan Native        4      3
                         Asian                                  216    190
                         Black or African-American               39     30
                         Hispanic of any race                    26     25
                         Native Hawaiian or Pacific Islander      1      1
                         White                                  299    280
                         Two or more races                        9      9
                         Race/Ethnicity Unknown                 255    274

                                                               2018   2019  \
Tenure Status            Race
Tenured                  American Indian or Alaskan Native        7      7
                         Asian                                  157    151
                         Black or African-American               67     67
                         Hispanic of any race                    52     55
                         Native Hawaiian or Pacific Islander      0      0
                         White                                1,141  1,102
                         Two or more races                        8      8
                         Race/Ethnicity Unknown                   2     30
Tenure Track             American Indian or Alaskan Native        4      4
                         Asian                                   65     63
                         Black or African-American               34     32
                         Hispanic of any race                    33     35
                         Native Hawaiian or Pacific Islander      1      1
                         White                                  268    258
                         Two or more races                        6      7
                         Race/Ethnicity Unknown                  10     27
Tenured and Tenure Track American Indian or Alaskan Native       11     11
                         Asian                                  222    214
                         Black or African-American              101     99
                         Hispanic of any race                    85     90
                         Native Hawaiian or Pacific Islander      1      1
                         White                                1,409  1,360
                         Two or more races                       14     15
                         Race/Ethnicity Unknown                  12     57
Fixed Term               Asian                                  231    224
                         Black or African-American              100    114
                         Hispanic of any race                    96    106
                         Native Hawaiian or Pacific Islander      3      2
                         White                                1,615  1,590
                         Two or more races                       16     22
                         Race/Ethnicity Unknown                  27    128
All                      American Indian or Alaskan Native       20     19
                         Asian                                  453    438
                         Black or African-American              201    213
                         Hispanic of any race                   181    196
                         Native Hawaiian or Pacific Islander      4      3
                         White                                3,024  2,950
                         Two or more races                       30     37
                         Race/Ethnicity Unknown                  39    185
Post-Doctoral Fellows    American Indian or Alaskan Native        1      1
                         Asian                                  190    216
                         Black or African-American               27     33
                         Hispanic of any race                    37     44
                         Native Hawaiian or Pacific Islander      0      0
                         White                                  252    233
                         Two or more races                       15     17
                         Race/Ethnicity Unknown                 240    241

                                                               2020
Tenure Status            Race
Tenured                  American Indian or Alaskan Native        7
                         Asian                                  148
                         Black or African-American               69
                         Hispanic of any race                    60
                         Native Hawaiian or Pacific Islander      0
                         White                                1,127
                         Two or more races                        7
                         Race/Ethnicity Unknown                   9
Tenure Track             American Indian or Alaskan Native        2
                         Asian                                   71
                         Black or African-American               36
                         Hispanic of any race                    38
                         Native Hawaiian or Pacific Islander      1
                         White                                  245
                         Two or more races                        9
                         Race/Ethnicity Unknown                  28
Tenured and Tenure Track American Indian or Alaskan Native        9
                         Asian                                  219
                         Black or African-American              105
                         Hispanic of any race                    98
                         Native Hawaiian or Pacific Islander      1
                         White                                1,372
                         Two or more races                       16
                         Race/Ethnicity Unknown                  37
Fixed Term               Asian                                  241

In [21]:
# writing the data to a json
race_df.to_json(r"faculty_race.json")

In [22]:
# writing the data to a csv
race_df.to_csv(r"facult_race.csv")